/* Color Barlow Black "Violet"  #2a0a5e
        Anonymous Pro "Violet"  #2a0a5e
        Anonymous Pro "Gris"  #777777
        "Jaune" #ffd631 */

/* RESPONSIVE MOBILE */
* {
  width: 100%

}
/* Scroll TOP */
#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}
#scroll_to_top img {
  width: 40px;
}
/* CV Header */
.cv {
  text-align:center;
  font-family: 'Anonymous Pro', monospace;
  color: #777777
}

/* Bouton CV Header */
.button {
  text-align: center;
  padding-bottom: 25px;
}

.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}


/* Navigation*/
.navigationcheckbox {
  display: none;
}

.navigationbg {
  height: 2rem;
  width: 2rem;
  border-radius:50%;
  position: fixed;
  top:3.5rem;
  right:1.5rem;
  background-image: radial-gradient(#ffd631,#ffd631);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);

}

.navigationbtn {
  background-color: #ffff;
  height: 3rem;
  width: 3rem;
  position: fixed;
  top:3rem;
  right: 1rem;
  border-radius: 25%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigationicon {
  position: relative;
  margin-top: 1.5rem;
  width: 2rem;
  height: 2px;
  background-color: black;
  display: inline-block;
}

.navigationicon::before,
.navigationicon::after {
  width: 2rem;
  height: 2px;
  background-color: black;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.navigationicon::before {
  top: -.8rem;
}

.navigationicon::after {
  top: .8rem;
}

.nav {
  height: 50vh;
  position: fixed;
  width: 0;
  opacity: 0;
  z-index: -1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigationliste {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.liens {
  display: inline-block;
  margin-top: 1rem;
  font-size: 30px;
  font-weight: 300;
  font-family: 'Anonymous Pro', monospace;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.navigationcheckbox:checked ~ .navigationbg {
  transform:scale(80);
}

.navigationcheckbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  z-index: 1500;
}

.navigationcheckbox:checked+ .navigationbtn .navigationicon {
  background-color: transparent;
}

.navigationcheckbox:checked+ .navigationbtn .navigationicon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigationcheckbox:checked+ .navigationbtn .navigationicon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* Photos */
.photo {
  text-align: center;
  background-color: #ffd631;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: auto;
}
.photo img {
  width: 50%;
  margin: auto;
  border-radius: 5px;
}

/* NOM et SUJET */
.titre h1 {
  text-align: center;
  font-family: 'Barlow', sans-serif;
  color: #2a0a5e;
}
.titre h2 {
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
  color: #2a0a5e;
}


/* Coordonées */
.coord {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #777777;

}
.clogo p {
  display: none;
}

.clogo {
  width: 50px;
  text-align: center;
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

/* .ctelephone {
width: 50%;
text-align:center;

}

.cmail {
width: 50%;
text-align:center;
} */

.cadresse {
width: 50%;
text-align:center;
width: 100%;
}

/* .clinkedin {
width: 50%;
text-align:center;
display: flex;
} */

.cgithub {
width: 100%;
}
.coord img {
  width: 50px;
}

/* Présentation */
.présentation {
color: #777777

}
.présentation h2 {
  color: #2a0a5e;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;

}

.présentation p {
  box-sizing: border-box;
  padding: 1em;
  font-family: 'Anonymous Pro', monospace;
}

/* Compétences */

.competences {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}
.competences h2 {
  color: #2a0a5e;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
}

.logocode {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  margin-top: 30px;
}

.logocode img {
  width: 30%;
}

.logopsli {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  margin-top: 30px;
}

.logopsli img {
  width: 30%;
}
/* .compétences li{
  background-color: white;
} */

/* Portfolio */
.portfolio {

}

.portfolio h2 {
  color: #2a0a5e;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
}

/* Expériences professsionnelles */
.expro h2 {
  color: #2a0a5e;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
}

.expro h3 {
  font-family: 'GlacialIndifferenceRegular';
  /* color: #777777; */
  /* text-align: center; */
}

.date {
  text-align: left;
  padding-left: 15px;
  box-sizing: border-box;

}

.date {
  color: #777777;
  font-style: italic;
}

.expvio {
  color: #2a0a5e;
}

.expro {
  text-align: center;
}

.expro img {
  width: 50%;
  padding-top: 30px;

}

/* Formations */
.formation {
  text-align: center;
}

.formation h2 {
  color: #2a0a5e;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
  padding-top: 30px;
}

.formation h3 {
  font-family: 'GlacialIndifferenceRegular';
  /* text-align: center; */
  /* color: #2a0a5e; */
}

.formvio {
  color: #2a0a5e;
}

.formation img {
  width: 50%;
  padding-top: 30px;
}

.datef {
  text-align: right;
  padding-right:15px;
  box-sizing: border-box;
  color: #777777;
  font-style: italic;
}

/* Centres d'intrérêt */

.centreflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.iconordi {
  /* width: 50px; */
  text-align: center;
  width: 46%;
  box-sizing: border-box;
  padding: 10px;
}

.iconordi img {
  width: 40%;
}

.iconcine {
  /* width: 50px; */
  text-align: center;
  width: 46%;
  box-sizing: border-box;
  padding: 10px;
}

.iconcine img {
  width: 40%;
}
.ci h2 {
  color: #2a0a5e;
  font-family: 'Anonymous Pro', monospace;
  text-align: center;
  padding-top: 30px;
}

.ci img {
  /* width: 20%; */
}

/* Footer */
footer {
  text-align: center;
  background-color: #ffd631;
  height: 50px;
}

footer p {
  padding-top: 17px;
}



/* FIN RESPONSIVE MOBILE */
